@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1240px;
    margin: 0px auto;
}

body {
    background-color: #F8F8F8;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A5C926;
}

.paragrof-nav {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
}

.paragrof-div {
    color: white;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    align-items: center;
}

/* navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.cart {
    display: flex;
    align-items: center;
}

.kozina {
    margin: 13px;
}

.nol {
    padding: 7px;
    background-color: #A5C926;
    border-radius: 50%;
    color: white;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

h1 {
    font-family: Varela Round;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.ul-head {
    display: flex;
    margin-right: 687px;
    gap: 10px;
}

.a-hreft {
    color: black;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.cart-div {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* header */

header {
    background-image: url(./img/bg\ image.png);
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 104px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-header {
    width: 570px;
    height: 308px;
    top: 166px;
    left: 435px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-p {
    color: #A5C926;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 10px;
}

h2 {
    font-family: Varela Round;
    font-size: 39px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin-top: 17px;
}

.btn-head {
    margin-top: 20px;
    border: none;
    color: white;
    padding: 12px 28px;
    border-radius: 100px;
    background-color: #A5C926;
    cursor: pointer;
}

/* main card */

.cards {
    margin-top: 152px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 3px; */
}

/* card1 */
.card1 {
    display: flex;
    background-color: #FFC12C;
    border-radius: 10px;
    align-items: center;
    /* grid-area: 1 / 1 / 2 / 2; */
}

.paragrof-main {
    font-family: Varela Round;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: white;
    margin-right: 10px;
    padding-right: 100px;
}

.button-btn {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border: none;
    border-radius: 100px;
    padding: 8px 24px;
    position: absolute;
    margin-top: 105px;
    margin-left: 220px;
    cursor: pointer;
}

.fredy {
    transform: translateY(-58px);
}

/* card2 */

.card2 {
    display: flex;
    background-color: #FB416B;
    border-radius: 10px;
    align-items: center;
    padding-left: 100px;
    grid-area: 1 / 2 / 2 / 3;
}

.paragrof-main2 {
    font-family: Varela Round;
    font-size: 27px;
    font-weight: 400;
    line-height: 36px;
    text-align: right;
    color: white;
    margin-left: 15px;
}

.cube {
    transform: translateY(-48px);
    margin-left: 75px;
}

.button-btn2 {
    border: none;
    padding: 8px 24px;
    border-radius: 100px;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    margin-top: 105px;
    margin-left: 69px;
}

.button-p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 120px; */
}

/* cardlar */

.cards2 {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-buy1 {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 270px;
    margin-bottom: 10px;
}

.card-paragrof {
    font-family: Varela Round;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.card-button {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    border: none;
    color: white;
    background-color: #A5C926;
    padding: 2px 12px;
    border-radius: 100px;
    margin-top: 12px;
}

.bg-img {
    background-image: url(./img/bg\ image\ freddy\ fasber.png);
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.bg-image-video {
    text-align: center;
    align-items: center;
    padding-top: 119px;
    padding-bottom: 112px;
}

.paragrof-img2 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: white;
}

.spiderman{
    width: 100%;
}

h3 {
    font-family: Varela Round;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    color: white;
    margin-top: 17px;
}

.button-video {
    border: none;
    background-color: #A5C926;
    padding: 23px;
    margin-top: 49px;
}

/* tugadi */

.paragrof-div2 {
    text-align: center;
    align-items: center;
    margin-top: 180px;
}

/* footer */
.bold {
    font-family: Varela Round;
    font-size: 31px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}

.paragrof-footer {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-top: 51px;
}

.button-footer {
    border: none;
    border-radius: 100px;
    background-color: #A5C926;
    color: white;
    padding: 12px 28px;
    margin-top: 26px;
    margin-bottom: 10px;
}

.father-img {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    margin-top: 81px;
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 1149px;
    height: 173px;
    top: 1px;
    left: 145px;
    gap: 0px;
    opacity: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 5px;
}

.input-div-button {
    border: none;
    background-color: #A5C926;
}

.span2 {
    color: #A5C926;
}

.flex {
    display: flex;
    align-items: center;
}

.paragrof-input-div {
    font-family: Varela Round;
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.input2 {
    border-radius: 100px;
    border: none;
    width: 376px;
    border-radius: 24px 24px 24px 24px;
    height: 47px;
}

.button-none {
    border: none;
    border-radius: 24px;
    padding: 20px 38px;
    background-color: #A5C926;
    margin-right: 16px;
}

/* insta */

.bold4 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #A5C926;
}

.insta-tag {
    text-align: center;
}

.valura {
    font-family: Varela Round;
    font-size: 31px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn-footer {
    border: none;
    background-color: #A5C926;
    color: #F8F8F8;
    padding: 12px 28px;
    border-radius: 24px;
    margin-left: 44%;
}

@media only screen and (max-width: 600px) {
    head{
        flex-wrap: wrap;
    }

    nav{
        margin: 10px 10px;       
        flex-wrap: wrap; 
    }

    .cards{
        display: none;
    }

    .cards2{
        flex-wrap: wrap;
        margin: 10px 10px;
    }

    .button-p{
        margin: 10px 10px;
    }

    .bg-img{
        text-align: center;
    }

    .father-img{
        flex-wrap: wrap;
        text-align: center;
        margin: 10px 10px ;
    }

    .input-div{
        display: none;
    }

    .insta-tag{
        text-align: center;
    }

    .card-img{
        flex-wrap: wrap;
        margin: 10px 10px ;
    }
}

@media only screen and (max-width: 320px){
      .spiderman{
        display: none;
      }
}

@media only screen and(max-width: 1024px){
    .cart{
      display: none;
    }
    head{
        flex-wrap: wrap;
    }

    nav{
        margin: 10px 10px;       
        flex-wrap: wrap; 
    }

    .cards{
        display: none;
    }

    .cards2{
        flex-wrap: wrap;
        margin: 10px 10px;
    }

    .button-p{
        margin: 10px 10px;
    }

    .bg-img{
        text-align: center;
    }

    .father-img{
        flex-wrap: wrap;
        text-align: center;
        margin: 10px 10px ;
    }

    .input-div{
        display: none;
    }

    .insta-tag{
        text-align: center;
    }

    .card-img{
        flex-wrap: wrap;
        margin: 10px 10px ;
    }
}